{% comment %}
  Champ de formulaire. Les champs obligatoires portent une etoile rouge ;
  le title de l'abbr rend l'information accessible aux lecteurs d'ecran.
{% endcomment %}
<div class="form-field">
  <label for="{{ field.id_for_label }}">{{ field.label }}{% if field.field.required %}<abbr class="required" title="Champ obligatoire">*</abbr>{% endif %}{{ field.form.label_suffix }}</label>
  {{ field }}
  {% if field.help_text %}<div class="help">{{ field.help_text }}</div>{% endif %}
  {{ field.errors }}
</div>
