{% extends "base.html" %}
{% load evdp_tags %}

{% block container_class %}container{% endblock %}

{% block content %}
<div class="layout">
  <aside class="sidebar">
    <div class="sidebar-title">Espace</div>
    <a href="{% url 'dashboard:home' %}">Tableau de bord</a>
    {% if perms_national or user.is_national %}
      <a href="{% url 'dashboard:csirt' %}">Vue CSIRT</a>
    {% endif %}
    {% if user.is_organization_user %}
      <a href="{% url 'dashboard:organization' %}">Vue organisation</a>
    {% endif %}
    {% if user.is_researcher %}
      <a href="{% url 'dashboard:researcher' %}">Espace chercheur</a>
      <a href="{% url 'wallet:home' %}">Portefeuille</a>
    {% endif %}

    <div class="sidebar-title">Coordination</div>
    <a href="{% url 'coordination:case_list' %}">Dossiers</a>
    <a href="{% url 'coordination:kanban' %}">Kanban</a>
    <a href="{% url 'dashboard:search' %}">Recherche globale</a>

    <div class="sidebar-title">Bug Bounty</div>
    <a href="{% url 'bounty:list' %}">Récompenses</a>
    <a href="{% url 'programs:my_programs' %}">Mes programmes</a>

    <div class="sidebar-title">Publication</div>
    <a href="{% url 'disclosures:advisory_list' %}">Advisories publiés</a>
    <a href="{% url 'disclosures:manage_list' %}">Rédaction d'advisories</a>

    <div class="sidebar-title">Administration</div>
    <a href="{% url 'organizations:manage_list' %}">Organisations</a>
    <a href="{% url 'audit:list' %}">Journal d'audit</a>
    <a href="{% url 'accounts:profile' %}">Mon profil</a>
    {% if user.is_staff %}<a href="/admin/">Administration Django</a>{% endif %}
  </aside>

  <section>
    {% block dashboard_content %}{% endblock %}
  </section>
</div>
{% endblock %}
